<div class="card">
        <img src="./images/pngwing.com.png" alt="">
        <h1>setting</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi eveniet ut fuga sit consequuntur non accusamus. Iusto rem nostrum adipisci?</p>
      </div>